@{
    ViewBag.Title = "Pizzas";
}

@section head
{
    <meta name="description" content="Choose a ready made pizza or make one yourself.">
    <meta name="keywords" content="pizza, sofia, bulgaria, tasty, cheap, Pepperoni, classic, Garden, American Hot, american, Ham, BBQ,
	Chicken, BBQ Chicken, tuna, Margherita, Mediterraneo, Hawaii, tomato, sauce, Mozzarella, Olives, Mushrooms, Onion, Peppers,
	Jalapenos Hot Peppers, Bacon, Cheese, Pineapple, large, small, medium, custom, order, cart, all, menu, lunch, dinner, home,
	delivery, yanna, pizza yanna">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pizza-yanna.somee.com/pizzas">
    <meta property="og:title" content="All Pizzas">
    <meta property="og:image" content="http://www.pizza-yanna.somee.com/Design/Logo.png">
    <meta property="og:description" content="Choose a ready made pizza or make one yourself.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow" />
    <meta name="distribution" content="global" />
}

<h2>Pizzas</h2>

<hr />
<div class="container text-success" style="text-align: center;">
    @(ViewBag.Message)&nbsp;
</div>
@{
    int pizzaCount = 0;
    foreach (var pizza in Model)
    {
        if (pizza != null)
        {
            pizzaCount++;
        }
    }
}
@if (pizzaCount > 0)
{
    <br />
    <div class="container text-success" style="text-align: center;">
        @(ViewBag.Message2)&nbsp;
    </div>
    <hr />
}

<div class="container">
    @foreach (var pizza in Model)
    {
        if (!pizza.PizzaName.StartsWith("Custom: "))
        {
            <div class="col-sm-6 col-md-4 col-xs-12" itemscope itemtype="http://schema.org/MenuItem">
                <br />
                <div style="height: 450px; text-align: center; color: #000000">
                    <strong style="color:#000000; font-size:20px;" itemprop="name">@pizza.PizzaName</strong>
                    <br />
                    <img style="width:250px; height:250px;" itemprop="image" itemscope itemtype="http://schema.org/ImageObject" src="@Url.Content(pizza.PizzaPicturePath)" alt="@pizza.PizzaName - @pizza.PizzaSize" typeof="image/*" />
                    <br />
                    @{
                        string ingredients = "";
                        ingredients = ViewData[pizza.PizzaName + " " + pizza.PizzaSize];
                    }
                    <strong>Ingredients: <em>@ingredients</em></strong>
                    <br />
                    <strong>Size: @pizza.PizzaSize</strong>
                    <br />
                    <strong>Price: @String.Format("{0:0.00}", pizza.PizzaPrice) BGN</strong>
                    <br />
                    <div>
                        <strong>@Html.ActionLink("Add To Cart", "CreateOrderWithPizza", "Home", new { id = pizza.PizzaID }, null)</strong>
                        <br />
                        <strong>@Html.ActionLink("Customize", "CreateCustomPizza", "Home", new { id = pizza.PizzaID }, null)</strong>
                    </div>
                </div>
                <br />
            </div>
        }
    }
</div>