@model PizzaYanna.Models.Pizza

@{
    ViewBag.Title = "View Pizza Order";
}

@section head
{
    <meta name="description" content="View your pizza order.">
    <meta name="keywords" content="view, view order, view pizza, view pizza order, price, quantity, ingredients, ingredient, single, total">
    <meta property="og:type" content="website">
    <meta property="og:title" content="View Pizza Order">
    <meta property="og:image" content="http://www.pizza-yanna.somee.com/Design/Logo.png">
    <meta property="og:description" content="View your pizza order.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow" />
    <meta name="distribution" content="global" />
}

<h2>View Pizza Order</h2>

<hr />
<div class="container text-success" style="text-align: center;">
    @(ViewBag.Message)&nbsp;
</div>
<hr />

<div class="container" itemscope itemtype="http://schema.org/OrderItem">
    <center>
        <b style="color:#000000; font-size:20px;" itemprop="name">@Model.PizzaName</b>
        <br />
        <img style="width:250px; height:250px;" itemprop="image" itemscope itemtype="http://schema.org/ImageObject" src="@Url.Content(Model.PizzaPicturePath)" alt="@Model.PizzaName - @Model.PizzaSize" typeof="image/*" />
        <br />
        <b>
            Ingredients:
            @using PizzaYanna.Models;
            @using (DBEntities de = new DBEntities())
            {
                var pizza = de.Pizzas.Where(a => a.PizzaID == Model.PizzaID).FirstOrDefault();
                var recipe = de.Recipes.Where(a => a.RecipeID == pizza.RecipeID).FirstOrDefault();
                var recipeIngredients = recipe.RecipesIngredients;
                int i = 0;
                foreach (var ingr in recipeIngredients)
                {
                    string separator = "";
                    if (i < recipeIngredients.Count() - 1)
                    {
                        separator = ", ";
                    }
                    else
                    {
                        separator = "";
                    }
                    <i>@ingr.Ingredient.IngredientName@separator</i>
                    i++;
                }
            }
            <br />
            Size: @Model.PizzaSize
            <br />
            Single Price: <s>@(ViewData.ContainsKey("pizzaOldPrice") ? String.Format("{0:0.00}", ViewData["pizzaOldPrice"]) : "")</s>
            @if (ViewData.ContainsKey("pizzaOldPrice"))
            {
                @:&#32;
            }
            @String.Format("{0:0.00}", ViewData["pizzaPrice"]) BGN
            <br />
            <span itemprop="orderQuantity">Quantity: @ViewBag.Quantity</span>
            <br />
            Total Price: <s>@(ViewData.ContainsKey("oldTotalPizzaPrice") ? String.Format("{0:0.00}", ViewData["oldTotalPizzaPrice"]) : "")</s>
            @if (ViewData.ContainsKey("oldTotalPizzaPrice"))
            {
                @:&#32;
            }
            @String.Format("{0:0.00}", ViewData["totalPizzaPrice"]) BGN
            <br /><br />
            <input type="button" value="Back To Cart" class="btn btn-default" onclick="location.href = '@Url.Action("Checkout", "Home")';" />
        </b>
    </center>
</div>