@{
    ViewBag.Title = "Admin Panel";
}

@section head
{
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="distribution" content="global" />
}

<h2>Admin Panel</h2>
<hr />

<input style="width: 150px; margin-bottom: 10px;" type="button" value="Upload Ingredient" class="btn btn-default" onclick="location.href='@Url.Action("UploadIngredient", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Upload Recipe" class="btn btn-default" onclick="location.href='@Url.Action("UploadRecipe", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Upload Pizza" class="btn btn-default" onclick="location.href='@Url.Action("UploadPizza", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Upload Drink" class="btn btn-default" onclick="location.href='@Url.Action("UploadDrink", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Upload Dessert" class="btn btn-default" onclick="location.href='@Url.Action("UploadDessert", "Admin")';" /><br />
<br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Manage Users" class="btn btn-default" onclick="location.href='@Url.Action("ManageUsers", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="View Statistics" class="btn btn-default" onclick="location.href='@Url.Action("ViewStatistics", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Manage Promotions" class="btn btn-default" onclick="location.href='@Url.Action("ManagePromotions", "Admin")';" /><br />
<br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Delete Ingredient" class="btn btn-default" onclick="location.href='@Url.Action("DeleteIngredient", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Delete Recipe" class="btn btn-default" onclick="location.href='@Url.Action("DeleteRecipe", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Delete Pizza" class="btn btn-default" onclick="location.href='@Url.Action("DeletePizza", "Admin")';" /><br />
<input style="width: 150px; margin-bottom: 10px;" type="button" value="Delete Drink" class="btn btn-default" onclick="location.href='@Url.Action("DeleteDrink", "Admin")';" /><br />
<input style="width: 150px;" type="button" value="Delete Dessert" class="btn btn-default" onclick="location.href='@Url.Action("DeleteDessert", "Admin")';" /><br />